<% for(var i = 0; i < eleves.length; i++) { %>
    <tr>
        <td><%= eleves[i].codeapogee %> </td>
        <td><%= eleves[i].nom %> </td>
        <td><%= eleves[i].prenom %> </td>
        <td><%= eleves[i].age %> </td>
        <td><%= classe%> </td>
        <td>
            <a onclick="window.open('/attestation?id=<%= eleves[i]._id%>&classe=<%=classe%>', '_blank').focus();" class="btn border-shadow update">
                <span class="text-gradient"><i>VOIR</i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= eleves[i]._id%> >
                <span class="text-gradient"><i>EDITER</i></span>
            </a>
        </td>
    </tr>
    <% } %>